@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900);

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.remark-slide-content {
  background-color: #1D4E69;
  color: white;
}

.title, .question {
  background-image: url(/public/img/hero-cityscape.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

.logos img {
  width: 25%;
  padding: 20px;
}

.whitebox {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}

.bluebox {
  padding: 20px;
  background-color: rgba(39, 53, 71, 0.75);
}

blockquote {
  font-family: 'Merriweather', serif;
  font-size: 2em;
  font-style: italic;
}

h3 {
  text-align: right;
  margin-right: 50px;
}

h3::before {
  content: '—';
}

a:visited, a:active, a {
  color: white;
}

.citation {
  font-size: 0.7em;
  padding: 5px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: rgba(203, 56, 55, 1);
}
